
@font-face {
    font-family: avus;
    src: url('/assets/fonts/AvusPro.ttf') format('truetype');
}

@font-face {
    font-family: errata;
    src: url('/assets/fonts/errata.otf') format('opentype');
}
