<div class="wrap">
  <ul class="feed-nav">
  <li *ngFor='let f of data.results; let i = index' class="feed-nav-li">
        <a
            [ngClass]="{'active': i===activeId}"
            [attr.id]="i"
            (mouseenter)="updateId(i)"
            *ngIf="f.type"
            [routerLink]="['/','portfolio', f.uid]">
          <h4>{{ i < 10 ? "0"+i+"." : i+"."  }} </h4>
        </a>
    </li>
  </ul>
  <h4 class="project-title active">
    {{data.results[activeId].data["portfolio-video"].video_title?.value["0"].text}}
  </h4>
</div>
