@import 'fonts';
@import 'variables';
@import 'mixins';

.about{
  position: relative;
  width: 100vw;
  height: auto;

  h3{
    padding-bottom: 1rem;
  }
}

.text-wrap{
  position: relative;
  width: 500px;
  margin: auto;
}

.about-block{
  margin: 5rem 0rem;
}

.about-text{
  p{
    @include p();
    margin-top: $margin-top-p;
    &:nth-child(1){
      margin-top: 0;
    }
  }
}

.column-wrap{
  columns: 2;
}

.normal{
  background-color: blue;
}

.about-list{
  li{
    a{
      font-size: inherit;
    }
  }
}
