

<div class="about" *ngIf="feed">
  <div class="text-wrap">

    <div class="about-block">
      <h3>background</h3>
      <div class="about-text">
        <p [innerHtml]="filteredText | UrlPipe"></p>
      </div>
    </div>

    <div class="about-block">
      <h3>{{feed.results["0"].data.information.body.value["0"]["non-repeat"]["section-title"].value["0"].text}}</h3>
      <div class="about-list">
        <ul [ngClass]="columnWrap()">
          <li *ngFor="let item of feed.results['0'].data.information.body.value['0'].repeat">
            {{ item["client-name"].value["0"].text }}
          </li>
        </ul>
      </div>
    </div>

    <div class="about-block">
      <h3>{{feed.results["0"].data.information.body.value[1]["non-repeat"]["section-title"].value["0"].text}}</h3>
      <div class="about-list">
        <ul>
          <li *ngFor="let item of feed.results['0'].data.information.body.value[1].repeat">
            <a [href]="item['contact-item'].value['0'].spans['0'].data.value.url">
              {{ item["contact-item"].value["0"].text }}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="about-block">
      <p>copyright aa+ llc 2018</p>
    </div>

  </div>
</div>
