<div class="contact">
  <table>
    <tr>
      <td>
        <div class="contact-content">
          <a class="a-hover" href="mailto:info@alealimay.com">info@alealimay.com</a>
          <a class="a-hover" href="https://www.instagram.com/alealimay/" target="_blank">instagram</a>
          <a class="a-hover" href="https://twitter.com/alealimay" target="_blank">twitter</a>
          <a class="a-hover" href="http://laleali.tumblr.com/" target="_blank">tumblr</a>
        </div>
      </td>
    </tr>
  </table>

</div>
