.contact{
  width: 100vw;
  height: 100vh;
}

.contact-content{
  position: relative;
  margin:auto;
  width: 200px;
  a{
    width: 100%;
    display: block;
    text-align: left;
    clear: both;
  }
}
