@import 'variables';
@import 'mixins';

.nav{
  position: fixed;
  bottom:$margin-sides;
  right:$margin-sides;
  width:300px;
  text-align: right;
  z-index:$z-nav;
}

.nav_black{
  background-color: black;
}

.nav-ul{
  width:100%;
  display: block;
  height: auto;
  position: relative;
  .nav-li{
    width: auto;
    margin-left: $margin-sides;
    position: relative;
    display: inline-block;
    a{
      width: 100%;
      display: block;
      height:100%;
      line-height: auto;
      vertical-align: middle;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      font-size: $font-size-p;
      color: $red;
      line-height: 20px;
      &:hover{
        color: $electric-blue;
      }
      &.nav_active{
        color: $electric-blue;
      }
    }
  }
}

.nav-ul.open{
  // height: auto;
  .nav-li{
    position: relative;
  }
}

@media (max-width: $break-phone-landscape) {

  .nav{
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100vw;
    z-index: 15;
    // background-color: black;
    height: 50px;
    padding-top: 10px;

  }
  .nav-ul{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-start: 0px;
    -webkit-padding-start: 0px;

    .nav-li{
      margin-left: 25px;
      margin-right: 25px;
      a{
        font-size: $font-size-h4;
      }
    }
  }
}
// end up media query
