<div class="detail-wrap">
  <div class="detail" *ngIf="detail">
    <div class="iframe-container">
      <iframe  class="video" [src]="detail.data['portfolio-video'].video_link.value.url | UrlPipe" frameborder="0" allowfullscreen>></iframe>
    </div>

    <div class="text-wrap">
      <div class="left-text">
        <p>{{detail.data["portfolio-video"]?.video_title.value["0"].text}}</p>
        <p>{{detail.data["portfolio-video"]?.video_year.value["0"].text}}</p>
      </div>

      <div class="right-text">
        <p>{{detail.data["portfolio-video"]?.director_credits.value["0"].text}}</p>
        <p>{{detail.data["portfolio-video"]?.dp_credits.value["0"].text}}</p>
        <p>{{detail.data["portfolio-video"]?.producer_credits.value["0"].text}}</p>
      </div>
    </div>

  </div>
</div>
