@import 'variables';
@import 'mixins';

.share{
  position: fixed;
  top:$margin-sides;
  left: $margin-sides;
  z-index: $z-nav;
  width: 200px;
}

.share-button{
  cursor: pointer;
}

.share-ul{
  position: absolute;
  left:-200px;
  .share-li{
    display: inline-block;
    a{
      @include h2();
    }
  }
}


.share-ul.share_open{
  left:0;

}
