<app-svg></app-svg>

<!-- <div *ngIf="feed" class="background-image" [ngStyle]="{'background' : 'url(' + bgImgStem + ') no-repeat center center fixed'}"> -->
<div class="background-image">
  <h1>AA</h1>
  <img [src]="bgImgStem" alt="">
</div>



<div class="feed" *ngIf="feed" >
  <!-- <div class="feed-content" *ngIf="feed">
    <ul class="feed-ul">
      <li *ngFor='let f of feed.results' class="feed-li">
          <img [src]="f.data['portfolio-video'].thumbnail?.value.main.url" alt="">

      </li>
    </ul>
  </div> -->
  <app-feed-nav (indexChange)="onIndexChanged( $event )" *ngIf="feed" [data]="feed"></app-feed-nav>
</div>
