@import 'variables';
@import 'mixins';

.featured-wrap{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  ul{
    li{

    }
  }
}

@media (max-width: $break-phone-landscape) {

  .featured-wrap{
    width: 100vw;
    height: auto;
    margin: 100px 0;
    min-height: auto;
    ul{
      padding: $margin-sides;
      li{
        padding: .5em 0;
        h3{
          font-size: 22px;
          line-height: 28px;
        }
      }
    }
  }

}
