<div class="styling-detail" *ngIf="styling_detail" >
  <!-- [style.background-color]="styling_detail.data['styling.background'].value" -->

<h1 class="styling-detail-title">{{styling_detail.data["styling.title"].value["0"].text}}</h1>


  <div class="styling-detail-cover styling-detail" *ngIf="styling_detail.data['styling.cover'].value[0].image"
  [ngStyle]="{'background-image': 'url(' + styling_detail.data['styling.cover'].value[0].image.value.main.url + ')'}">
  </div>


  <!-- <h1>{{styling_detail.data['styling.title'].value[0].text}}</h1> -->

  <div class="styling-detail-content">

    <ul class="styling-detail-ul">
       <li class="styling-detail-li" *ngFor="let d of styling_detail.data['styling.post'].value">

        <div class="styling-detail-img" *ngIf="d.slice_type=='image'">
          <img src="{{d['non-repeat'].image.value.main.url}}" alt="">
        </div>

        <div class="styling-detail-gallery" *ngIf="d.slice_type=='gallery'">
          <img src="{{g.repeat.image.value.main.url}}" alt="" *ngFor="let g of d.value.value">
        </div>

        <div class="styling-detail-video" *ngIf="d.slice_type=='video'">
          <iframe [src]="d['non-repeat'].id.value | youtubeEmbed" width="" height=""></iframe>
          <!-- {{d['non-repeat'].id.value | youtubeEmbed}} -->
        </div>

      </li>
    </ul>
    <!-- <div class="detail-credits">
      <ul class="detail-credits-ul">
        <li class="detail-credits-li" *ngFor="let c of styling_detail.data['styling.credits'].value">
          {{c.role.value["0"].text}}: {{c.name.value["0"].text}}
        </li>
      </ul>
    </div> -->
  </div>
</div>
