@import 'fonts';
@import 'variables';
@import 'mixins';


.styling-detail{
  width: 100%;
  height: auto;
  background-color: $black;
}
.styling-detail-title{
  color:$white;
}





.styling-detail-cover{
  width: 100%;
  height:100vh;
  position: fixed;
  z-index:$z-detail-cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  img{
    width: 100vw;
  }
}

.styling-detail-title{
  position: fixed;
  top:$margin-sides;
  right: $margin-sides;
  z-index:$z-detail-li;
}

.styling-detail-ul{
  z-index:$z-detail-li;
  position: relative;
  color:$white;
  .styling-detail-li{
    width: 100vw;
    height: auto;
    margin-top: $margin-top-li;
    margin-bottom: $margin-top-li;
    display: block;
    &:first-child{
      padding-top: $margin-top;
      margin-top:0;
    }
    &:last-child{
      padding-bottom: $margin-top;
      margin-bottom:0;
    }
    .styling-detail-img{
      width: 100%;
      margin: auto;
      img{
        width: 100vw;
        margin: auto;
        display: block;
      }
    }
  }
}



.styling-detail-credits{
  position: fixed;
  right:$margin-sides;
  bottom:$margin-sides;
  width: auto;
  height: auto;
  display: block;
  z-index:$z-credits;
  .detail-credits-ul{
    width: auto;
    margin: auto;
    display: block;
    .detail-credits-li{

    }
  }

}


.styling-detail-gallery{
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  white-space: nowrap;
  img{
    display: inline-block;
    width: 80vw;
  }
}


.styling-detail-video{
  width:100vw;
  iframe{
    width:100vw;
    height:60vh;
    display: block;
    margin: auto;
  }
}
