@import 'fonts';
@import 'variables';
@import 'mixins';

.styling{
  width:100vw;
  height: 100vh;
  background-color: $black;
}


.styling-content{
  width: 100vw;
}

.styling-ul{
  width: 100vw;
  height: 100vh;
  display: block;
  // padding-bottom: 100vh;
  overflow-x: hidden;
  .styling-li{
    position: relative;
    max-width: 30vw;
    background-color: transparent;
    // &:nth-child(1){
    //   margin-top: $margin-top;
    // }
    .styling-cover{
      width: 200px;
      height: auto;
      display: block;
      position: absolute;
    }
    .styling-a{
      .styling-title{
        color:$white;

      }
    }
  }
}
